{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                core news — All the news you need.
            {% endblock title %}
        </title>
        <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/main.js' %}" defer></script>
    </head>
    <body>
        <header>
            <div class="time"></div>
            <h1>core news</h1>
            <div class="weather">Clear, 24.2 °C</div>
        </header>
        <nav>
            <div class="pages">
                <a href="{% url 'home' %}">Home</a>
                <span class="divider">|</span>
                <a href="{% url 'about' %}">About</a>
            </div>
            <div class="account">
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Log Out</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Log In</a>
                    <span class="divider">|</span>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            All the news you need.
        </footer>
    </body>
</html>
